<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device width, initial-scale=1"  charset="utf-8">
    <title> WePlan </title>
    <link type="text/css" rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap.min.css">
    <link type=text/css rel="stylesheet" href="../../static/css/styles_LandingPage.css" th:href="@{/css/styles_LandingPage.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com" th:href="@{https://fonts.gstatic.com}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap}">


</head>
<body>
<header class="banner" id="home">

    <!-- navbar -->
    <div id="sideNav">
        <nav>
            <ul>
                <li><a href="#home">HOME</a></li>
                <li><a href="#">FEATURES</a></li>
                <li><a href="#services">SERVICES</a></li>
                <li><a href="#our_work">OUR WORK</a></li>
                <li><a href="#contact">MEET US</a></li>
            </ul>
        </nav>
    </div>
    <div id="menuBtn">
        <img th:src="@{/images/menu1.png}" src="../../static/images/menu1.png" alt="" id="menu">
    </div>

    <div class="text-banner">
        <h1>Welcome to WePlan</h1>
        <p>The best shareable task organizer</p>
        <!-- <a href="#contact" class=""><b>Contact us</b></a>-->
        <a href="../Register_Login/Register_form.html" th:href="@{/register}">Sign up</a>
        <!--<a th:href="@{/login}" >Log in</a>-->
        <a href="../MainPage/MainPage.html" th:href="@{/user-area}" >User Area</a>
    </div>

    <div class="svg-banner">
        <svg class="wave-svg" viewBox="0 0 500 150" preserveAspectRatio="none">
            <path class="wave-path" d="M-1.41,54.77 C166.76,231.41 382.89,-55.75 500.00,49.98 L551.06,257.06 L0.00,150.00 Z"></path>
        </svg>
    </div>
</header>

<section class="wave-container website">
    <img th:src="@{/images/girl_laptop.svg}" src="../../static/images/girl_laptop.svg" alt="">
    <div class="container-text-main">
        <h2 class="title left">Enhance your productivity</h2>
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolor explicabo fugiat harum impedit laboriosam necessitatibus nisi optio placeat quia?</p>
        <a class="cta">Learn more</a>
    </div>
</section>

<section class="info">
    <div class="container">
        <h2 class="title left">“Allow yourself to be a beginner. No one starts off being excellent.”</h2>
    </div>
</section>

<section class="cards container" id="services">
    <h2 class="title">Our services</h2>
    <div class="content-cards">
        <article class="card">
            <i class="fas fa-list-ul"></i>
            <h3>Task Organizer</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="" class="cta">Learn more</a>
        </article>
        <article class="card">
            <i class="far fa-calendar-alt"></i>
            <h3>Timetable and calendar</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="" class="cta">Learn more</a>
        </article>
        <article class="card">
            <i class="fas fa-hourglass-half"></i>
            <h3>Timers</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="" class="cta">Learn more</a>
        </article>
        <article class="card">
            <i class="fas fa-share-alt"></i>
            <h3>Share your productivity</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="" class="cta">Learn more</a>
        </article>
    </div>
</section>


<section class="gallery">
    <div class="container">
        <h2 class="title" id="our_work">Our work</h2>
        <article class="gallery-pics">
            <img th:src="@{/images/img1.JPG}" src="../../static/images/img1.JPG" alt="">
            <img th:src="@{/images/img2.png}" src="../../static/images/img2.png" alt="">
            <img th:src="@{/images/img3.JPG}" src="../../static/images/img3.JPG" alt="">
            <img th:src="@{/images/img4.JPG}" src="../../static/images/img4.JPG" alt="">
            <img th:src="@{/images/img5.JPG}" src="../../static/images/img5.JPG" alt="">
            <img th:src="@{/images/img6.JPG}" src="../../static/images/img6.JPG" alt="">
        </article>
    </div>
</section>

<section class="info">
    <div class="container">
        <h2 class="title left">“A goal without a plan is just a wish.”</h2>
    </div>
</section>

<section class="info-last">
    <div class="container last-section">
        <div class="container-text-main">
            <h2 class="title left">Be the master of your time</h2>
            <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolor explicabo fugiat harum impedit laboriosam necessitatibus nisi optio placeat quia?</p>
            <a href="" class="cta">Learn more</a>
        </div>
        <img th:src="@{/images/boy_tasks.svg}" src="../../static/images/boy_tasks.svg" alt="">
    </div>
</section>

<footer id="contact">

    <div class="svg-footer">
        <svg class="wave-svg-2" viewBox="0 0 500 150" preserveAspectRatio="none">
            <path class="wave-path-2" d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"></path>
        </svg>
    </div>

    <div class="container">
        <h2 class="title">Contact us</h2>
        <form action="" class="form">
            <input class="input" type="text" name="" id="" placeholder="Name">
            <input class="input" type="email" name="" id="" placeholder="Email">
            <textarea class="input" name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
            <input class="input" type="submit" value="Submit">
        </form>
    </div>
</footer>

<script src="https://kit.fontawesome.com/d324f99f68.js" crossorigin="anonymous"></script>
<!--<script type="text/javascript" src="/static/js/SideMenu.js" th:src="@{/js/SideMenu.js}"></script>-->
<script>
    var menuBtn = document.getElementById("menuBtn")
    var menuBtn = document.getElementById("sideNav")
    var menuBtn = document.getElementById("menu")

    sideNav.style.right = "-250px";

    menuBtn.onclick = function(){
        if(sideNav.style.right == "-250px"){
            sideNav.style.right = "0";
            menu.src = "images/close.png";
        }
        else{
            sideNav.style.right = "-250px";
            menu.src = "images/menu1.png";
        }
    }
</script>

</body>
</html>