<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>

    <div th:if="${userProfile.username == #request.userPrincipal.principal.username}">
        <h1 sec:authentication="principal.fullName"></h1>

        <div class="text-success">
            <h3 th:text="${message}">[[${message}]]</h3>
        </div>
        <div th:each="friend: ${friendList}">
            <ul>
                <li th:text="${friend.username}"></li>
                <a th:href="@{'/profile?username=' + ${friend.username}}">View Profile</a>
                <a th:href="@{/profile/remove-friend(friendUsername=${friend.username})}">Remove friend</a>
            </ul>
        </div>
    </div>
    <div th:unless="${userProfile.username == #request.userPrincipal.principal.username}">
        <h2 th:text="${userProfile.username + '(' + userProfile.firstName + ' ' + userProfile.lastName + ')'}"></h2>
        <h3 th:text="${'You share these tasks with ' + userProfile.username}"></h3>
        <th:block th:each="teamTask: ${teamsTaskList}">
            <h4 th:text="${teamTask.getName}"></h4>
        </th:block>
    </div>
</body>
</html>