<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type=text/css rel="stylesheet" href="../../static/css/User_area_styles.css" th:href="@{/css/User_area_styles.css}">
    <title>Welcome</title>
</head>
<body id="body-pd">

    <div class="l-navbar" id="navbar">
        <nav class="nav">
            <div>
                <div class="nav__brand">
                    <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                    <a href="#" class="nav_logo">WePlan</a>
                </div>
                <div class="nav_list">
                    <a href="#" class="nav__link active">
                        <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                        <span class="nav__name">Dashboard</span>
                    </a>

                    <a href="#" class="nav__link">
                        <ion-icon name="chatbubbles-outline" class="nav__icon"></ion-icon>
                        <span class="nav__name">Contact us</span>
                    </a>

                    <div class="nav__link collapse">
                        <ion-icon name="folder-outline" class="nav__icon"></ion-icon>
                        <span class="nav__name">Templates</span>

                        <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                        <ul class="collapse__menu">
                            <a th:href="@{/timer}" >Timers</a>
                        </ul>
                </div>

                    <div class="nav__link collapse">
                        <ion-icon name="pie-chart-outline" class="nav__icon"></ion-icon>
                        <span class="nav__name">Tasks</span>

                        <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                        <ul class="collapse__menu">
                            <li>Create</li>
                            <a th:href="@{/create-task(eventType = 'Simple Task')}">Simple Task</a>
                            <a th:href="@{/create-task(eventType = 'Teams Task')}">Teams Task</a>
                            <a th:href="@{/create-task(eventType = 'Scheduled Task')}">Scheduled Task</a>
                        </ul>
                    </div>
                    <div class="nav__link collapse">
                        <ion-icon name="people-outline" class="nav__icon"></ion-icon>
                        <span class="nav__name">Team</span>

                        <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                        <ul class="collapse__menu">
                            <a href="#" class="collapse__sublink">Data</a>
                            <a href="#" class="collapse__sublink">Group</a>
                            <a href="#" class="collapse__sublink">Members</a>
                            <form th:action="@{/user-area/add-friend}" method="post">
                                <h5>Add friend</h5>
                                <input type="text" th:value="${friendUsername}" name="friendUsername">
                                <input type="submit">
                            </form>
                        </ul>
                    </div>
                    <a href="#" class="nav__link">
                        <ion-icon name="settings-outline" class="nav__icon"></ion-icon>
                        <span class="nav__name">Settings</span>
                    </a>
                </div>
            </div>
            <form th:action="@{/logout}" method="post" class="nav__link">
                <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                <input type="submit" value="Log Out" class="nav__name">
            </form>
        </nav>
    </div>


    <h1>Welcome </h1>
    <h1 sec:authentication="principal.fullName"></h1>
    <a th:href="@{/profile}" >View Profile</a>
    <a th:href="@{/user-area/export-timetable}">Export timetable to CSV</a>
    <!--form th:action="@{/import}" method="post" enctype="multipart/form-data">
        <input type="file" name="csvFile">
        <input type="submit" value="Upload picture" class="btn btn-primary">
    </form-->
    <a th:href="@{/import}">Import</a>

    <th:block th:each="friendRequest, friendrequestStat: ${friendRequestList}">
        <h3><h3 th:text="${friendRequest.senderUsername}"></h3> sent you a friend request</h3>

        <form th:action="@{/user-area/manage-request}" method="post">
            <input type="hidden" name="senderUsername" th:value="${friendRequest.senderUsername}">
            <input type="submit" name="accepted" th:text="${accepted}" th:value="'Accept'">
            <input type="submit" name="accepted" th:text="${accepted}" th:value="'Reject'">
        </form>
    </th:block>

    <div th:each="task: ${userTasks}">

        <h3 th:if="${task.taskType == 'Simple Task'}">Simple Task</h3>
        <h3 th:if="${task.taskType == 'Teams Task'}">Teams Task</h3>
        <h3 th:if="${task.taskType == 'Scheduled Task'}">Scheduled Task</h3>
        <ul>
            <li th:text="${task.name}"></li>
            <ul>
                <li th:text="${task.description}"></li>
                <li th:text="${task.date}"></li>
                <li th:if="${task.taskType == 'Scheduled Task'}" th:text="${'Start Time:' + task.taskTime}"></li>
                <li th:if="${task.taskType == 'Scheduled Task'}" th:text="${'End Time:' + task.endTime}"></li>
                <li th:if="${task.taskType != 'Scheduled Task'}" th:text="${'Task Time:' + task.taskTime}"></li>
            </ul>
            <form th:if="${task.taskType != 'Scheduled Task'}"
                  th:action="@{/user-area/upload-file}" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="hidden" name="taskId" th:value="${task.id}">
                <input type="submit" value="Upload picture" class="btn btn-primary">
            </form>
            <form th:if="${task.taskType == 'Teams Task'}"
                  th:action="@{/user-area/add-collaborator}" method="post">
                <h5>Collaborator</h5>
                <input type="text" th:value="${collaboratorUsername}" name="collaboratorUsername">
                <input type="submit" th:value="${task.id}" name="taskId">
            </form>
            <a th:href="@{/user-area/remove-task(taskId=${task.id})}">Remove task</a>
        </ul>
    </div>

    <div class="row table-bordered">
        <th:block th:each="file : ${wePlanFiles}">
            <div>
                [[${file.name}]]
            </div>
        </th:block>
    </div>


    <!-- ===== IONICONS ===== -->
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script src="../../static/js/user_area.js" th:src="@{/js/user_area.js}"></script>

</body>
</html>