@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.main_content{
    position: relative;
    height: 70vh;
    padding-right: 1%;
    padding-left: 50%;
    background-image: url("../images/login_1.png");
    background-repeat: no-repeat ;
    background-size: contain;
    background-position: left ;
    overflow: auto;
    z-index: -1;
}
h1{
    top: 24vh;
    right: 4vw;
    position: absolute;
    font-size: 300%;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(76,166,244), rgb(223,23,249));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 1vh;
    margin-right: 2px;
    padding-right: 2px;
}
a{
    position: absolute;
    top: 34vh;
    right: 3vw;
    display: block;
    width: 18vw;
    margin-top: 1vh;
    margin-right: 5%;
    text-align: center;
    text-decoration: none;
    background: -webkit-linear-gradient(#12c2e9, #c471ed);
    border-radius: 12px;

}
@media (max-width: 600px) {
    .main_content {
        height: 70vh;
        padding-left: 50%;
        background-image: url("../images/login_1.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 300px;
        background-position: center ;
        overflow: auto;
    }

    h1{
        font-size: 200%;
        font-weight: bold;
        background: -webkit-linear-gradient(rgb(76,166,244), rgb(223,23,249));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 3vh;
        padding: 2px;
        text-align: center;
    }
}
