@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root{
    --nav-width: 15rem;
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --z-fixed: 100;
}


*,::before,::after{
    box-sizing: border-box;
}
body{
    position: relative;
    margin: 0;
    padding: 5rem 0 0 0rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s ;
    width: 320px;
    background-color: #172737;

}
h1{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    min-width:100%;
    width:auto;
}
li{
    white-space: nowrap;
}
a{
    text-decoration: none;
}

.l-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    background-color:  rgb(246,241,232);
    color: rgb(62,62,62);
    padding: 0;
    transition: .5s;
    z-index: var(--z-fixed);
    border-radius: 0 15px 15px 0;
}

.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

}
.nav__brand{
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.nav__toggle{
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
}
.nav_logo{
    color: rgb(62,62,62);;
    font-weight: 600;
}
.nav__link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: rgb(62,62,62);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
}
.nav__link:hover{
    background-color: rgb(218,172,128);;
}
.nav__icon{
    font-size: 1.25rem;
}
.nav__name{
    font-size: var(--small-font-size);
}
.expand{
    width: calc(var(--nav-width) + 0rem);
}
.body-pd{
    padding: 2rem 0 0 16rem;
}
.active{
    background-color:  rgb(235,202,174);
}
.collapse{
    grid-template-columns: 20px max-content 1fr;
}
.collapse__link{
    justify-self: flex-end;
    transition: .5s;
}
.collapse__menu{
    display: none;
    padding: .75rem 2.25rem;
}
.collapse__sublink{
    color: rgb(62,62,62);
    font-size: var(--small-font-size);
}
.collapse__sublink:hover{
    color: rgb(62,62,62);
}
.showCollapse{
    display: block;
}
.rotate{
    transform: rotate(180deg);
    transition: .5s;
}

.open-wrapper {
    height: 50px;
    margin-top: 200px;
    cursor: pointer;
    border-radius: 10px;
}
.nav_logo{
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.nav_list{
    padding-left: 1rem;
    padding-right: 1rem;
}

.wrapping_element{
    float: left;
}

#content{
    float:right;

}
.row{
    width: 100%;
}
.timer{
    margin-left: 20rem;
    margin-top: 10rem;
    color: #fff;
    text-align: center;
    width: 20rem;
    height: 20rem;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.fa-play, .fa-redo-alt, .fa-stop{
    color: #e3f6f5 ;
    border: 2px solid transparent;
    padding: 1rem;
    border-radius: 2rem;
}

.fa-play:hover, .fa-redo-alt:hover{
    color: #bae8e8 ;
    border: 2px solid #bae8e8;
    transition: 0.3s ease;
}
.button.disabled {
    opacity: 0.65;
    cursor: not-allowed;
}
.show_message{
    display: block;
    padding: 1rem 0;
    color: #272343;
    background: #e4f6f5 ;
    border-radius: 0.5rem;
    transition: 0.5s ease;
}
.display {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display__end-time {
    font-size: 2rem;
    color: white;
    white-space: nowrap;

}

.display__time-left {
    font-weight: 100;
    font-size: 20rem;
    margin: 0;
    color: white;
    text-shadow: 4px 4px 0 rgba(0,0,0,0.05);
}
#body-pd{
    width: 20rem;
}