@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root{
    --nav-width: 15rem;
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --z-fixed: 100;
}


*,::before,::after{
    box-sizing: border-box;
}
body{
    position: relative;
    margin: 0;
    padding: 5rem 0 0 0rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s ;
    width: 320px;
    background-color: #172737;

}
h1{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}

.l-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    background-color:  rgb(246,241,232);
    color: rgb(62,62,62);
    padding: 0;
    transition: .5s;
    z-index: var(--z-fixed);
    border-radius: 0 15px 15px 0;
}

.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

}
.nav__brand{
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.nav__toggle{
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
}
.nav_logo{
    color: rgb(62,62,62);;
    font-weight: 600;
}
.nav__link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: rgb(62,62,62);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
}
.nav__link:hover{
    background-color: rgb(218,172,128);;
}
.nav__icon{
    font-size: 1.25rem;
}
.nav__name{
    font-size: var(--small-font-size);
}
.expand{
    width: calc(var(--nav-width) + 0rem);
}
.body-pd{
    padding: 2rem 0 0 16rem;
}
.active{
    background-color:  rgb(235,202,174);
}
.collapse{
    grid-template-columns: 20px max-content 1fr;
}
.collapse__link{
    justify-self: flex-end;
    transition: .5s;
}
.collapse__menu{
    display: none;
    padding: .75rem 2.25rem;
}
.collapse__sublink{
    color: rgb(62,62,62);
    font-size: var(--small-font-size);
}
.collapse__sublink:hover{
    color: rgb(62,62,62);
}
.showCollapse{
    display: block;
}
.rotate{
    transform: rotate(180deg);
    transition: .5s;
}

.open-wrapper {
    font-family: "CircularStd";
    height: 50px;
    margin-top: 200px;
    cursor: pointer;
}
.nav_logo{
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.nav_list{
    padding-left: 1rem;
    padding-right: 1rem;
}


