<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device width, initial-scale=1"  charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/create_timer_styles.css" th:href="@{/css/create_timer_styles.css}">

</head>
<body>
<div class="container">
    <form th:action="@{'/create-timer'}" method="post" th:object="${timer}" id="form">

    <div class="form-row ">
        <label for="labelInput">Timer Name:</label>
        <input id="labelInput" type="text"  placeholder="Timer" th:field="*{timerName}">
    </div>
    <br>
    <div class="form-row large" id="fm-timeset">

        <div class="two fl">
            <input id="minuteInput" class="fw" type="number"  placeholder="00" th:field="*{minutes}"  step="0.1">
            <label for="minuteInput">Minutes</label>
        </div>
    </div>
    <hr class="dotted">
        <h4>Breaks</h4>
        <br>
        <h5>Short Break</h5>

    <div class="form-row large" id="short-break">
        <div class="two fl">
            <input id="minuteInputSb" class="fw" type="number" placeholder="00" th:field="*{shortBreakMins}"  step="0.1">
            <label for="minuteInput">Minutes</label>
        </div>
    </div>
    <hr class="dotted">
    <h5>Long Break</h5>

    <div class="form-row large" id="long-break">
        <div class="two fl">
            <input id="minutesInputLb" class="fw" type="number" placeholder="00" th:field="*{longBreakMins}"  step="0.1">
            <label for="minutesInputLb">Minutes</label>
        </div>
    </div>
        <input type="submit" value="Create Timer" onclick="passValues()">

    </form>
</div>



</body>
</html>