<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Countdown Timer</title>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../static/css/style.css ">
</head>
<body>
<div class="timer">

    <div class="display">
        <h1 class="display__time-left" id="minutes">0.05</h1>
        <p class="display__end-time"></p>
    </div>
    <button id="test">Test</button>

</div>

<script src="../../static/js/scripts-FINISHED.js" ></script>
</body>
</html>